# Ignorar arquivos binlog do MySQL
binlog.*
auto.cnf

ib_16384_1.dblwr
ib_16384_0.dblwr
*.dblwr
undo_001
undo_002
ibdata1
ib_buffer_pool
# Ignorar a pasta #innodb_redo
innodb_redo/

# Ignorar a pasta #innodb_temp
innodb_temp/